@charset "UTF-8"; /* Aqui entrará a parte que envolve a modidicação dos caracteres e acentuações se comportarem de forma compatível dentro dos navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-title: #ffffff;
    --color-background: linear-gradient(to bottom, #47BFDF, #4A91FF) no-repeat;
    --color-background-origin: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    border-radius: 15px;
}

body {
    height: 100vh;
    margin: 0;

    background: var(--color-background-origin);
}

header#cabecalho .location-cabecalho {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

header#cabecalho .location-cabecalho .notification img {
    margin-top: 32px;
}

header#cabecalho .location-cabecalho .localization {
    display: flex;
    gap: 10px;

    margin-top: 32px;
}

header#cabecalho .location-cabecalho .localization img {
    margin-right: 20px;
}

header#cabecalho .location-cabecalho h1 {
    color: var(--color-title);
}

header#cabecalho .imagem img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 4rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#parte-principal {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;

    margin: 30px;

    color: white;
}

main .title-information-box h1 {
    text-align: center;
}

main#parte-principal .title-information-box h4 {
    text-align: center;
}

