@charset "UTF-8"; /* Aqui entrará a parte que envolve a modidicação dos caracteres e acentuações se comportarem de forma compatível dentro dos navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
}

