@charset "UTF-8"; /* Aqui entrará a parte que envolve a modidicação dos caracteres e acentuações se comportarem de forma compatível dentro dos navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-title: #ffffff;
    --color-background: linear-gradient(to bottom, #47BFDF, #4A91FF) no-repeat;
}

body {
    height: 100vh;
    margin: 0;

    background: var(--color-background);
}

header#cabecalho .location-cabecalho {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

header#cabecalho .location-cabecalho h1 {
    color: var(--color-title);
}

header#cabecalho img {
    display: flex;
    align-items: center;
    justify-content: center;
}

